USE [master]
GO
/****** Object:  Database [chitieucanhanDB]    Script Date: 6/30/2026 9:48:25 PM ******/
CREATE DATABASE [chitieucanhanDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'chitieucanhanDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\chitieucanhanDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'chitieucanhanDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\chitieucanhanDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [chitieucanhanDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [chitieucanhanDB]
GO
/****** Object:  Table [dbo].[tblGiaoDich]    Script Date: 6/30/2026 9:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGiaoDich](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[Loai] [nvarchar](max) NOT NULL,
	[DanhMuc] [nvarchar](max) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[NgayGD] [datetime2](7) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[NgaySua] [datetime2](7) NULL,
	[TaiKhoanId] [int] NOT NULL,
	[ViId] [int] NOT NULL,
 CONSTRAINT [PK_GiaoDich] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNganSach]    Script Date: 6/30/2026 9:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNganSach](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DanhMuc] [nvarchar](max) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[ChuKy] [nvarchar](max) NOT NULL,
	[NgayBD] [datetime2](7) NOT NULL,
	[NgayKT] [datetime2](7) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[NgaySua] [datetime2](7) NULL,
	[TaiKhoanId] [int] NOT NULL,
 CONSTRAINT [PK_NganSach] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTaiKhoan]    Script Date: 6/30/2026 9:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTaiKhoan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Ho] [nvarchar](max) NOT NULL,
	[Ten] [nvarchar](max) NOT NULL,
	[SoDienThoai] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[NgaySua] [datetime2](7) NULL,
	[KichHoat] [bit] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVi]    Script Date: 6/30/2026 9:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](max) NOT NULL,
	[SoDu] [decimal](18, 2) NOT NULL,
	[Loai] [nvarchar](max) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[NgaySua] [datetime2](7) NULL,
	[KichHoat] [bit] NOT NULL,
	[TaiKhoanId] [int] NOT NULL,
 CONSTRAINT [PK_Vi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblGiaoDich] ON 

INSERT [dbo].[tblGiaoDich] ([Id], [SoTien], [Loai], [DanhMuc], [MoTa], [NgayGD], [NgayTao], [NgaySua], [TaiKhoanId], [ViId]) VALUES (1, CAST(3000000.00 AS Decimal(18, 2)), N'Expense', N'Học phí cho con trai', N'Tiền học tiếng anh toán khoa có giáo viên bản ngữ ở trường.', CAST(N'2026-05-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-05-29T14:39:10.8224363' AS DateTime2), NULL, 1, 1)
INSERT [dbo].[tblGiaoDich] ([Id], [SoTien], [Loai], [DanhMuc], [MoTa], [NgayGD], [NgayTao], [NgaySua], [TaiKhoanId], [ViId]) VALUES (2, CAST(600000.00 AS Decimal(18, 2)), N'Expense', N'Học phí cho con trai', N'Hoc phí học võ Aikido 12 buổi', CAST(N'2026-05-03T00:00:00.0000000' AS DateTime2), CAST(N'2026-05-29T14:40:56.5186062' AS DateTime2), CAST(N'2026-05-29T15:02:02.9363346' AS DateTime2), 1, 1)
INSERT [dbo].[tblGiaoDich] ([Id], [SoTien], [Loai], [DanhMuc], [MoTa], [NgayGD], [NgayTao], [NgaySua], [TaiKhoanId], [ViId]) VALUES (3, CAST(2700000.00 AS Decimal(18, 2)), N'Expense', N'Chi phí điện, nước, internet, xăng', N'Trả tiền điện tháng 4', CAST(N'2026-05-15T00:00:00.0000000' AS DateTime2), CAST(N'2026-05-29T14:42:01.5152806' AS DateTime2), CAST(N'2026-05-29T14:43:12.7213327' AS DateTime2), 1, 1)
SET IDENTITY_INSERT [dbo].[tblGiaoDich] OFF
GO
SET IDENTITY_INSERT [dbo].[tblNganSach] ON 

INSERT [dbo].[tblNganSach] ([Id], [DanhMuc], [SoTien], [ChuKy], [NgayBD], [NgayKT], [MoTa], [NgayTao], [NgaySua], [TaiKhoanId]) VALUES (1, N'Học phí cho con trai', CAST(10000000.00 AS Decimal(18, 2)), N'Monthly', CAST(N'2026-05-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-06-01T00:00:00.0000000' AS DateTime2), N'Học Tiếng Anh, Cờ Vua, Võ ...', CAST(N'2026-05-29T14:28:48.9714733' AS DateTime2), NULL, 1)
INSERT [dbo].[tblNganSach] ([Id], [DanhMuc], [SoTien], [ChuKy], [NgayBD], [NgayKT], [MoTa], [NgayTao], [NgaySua], [TaiKhoanId]) VALUES (2, N'Học phí học liên thông Đại học', CAST(2000000.00 AS Decimal(18, 2)), N'Monthly', CAST(N'2026-05-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-06-01T00:00:00.0000000' AS DateTime2), N'Tính bình quân mỗi tháng phải đóng', CAST(N'2026-05-29T14:30:08.4251173' AS DateTime2), NULL, 1)
INSERT [dbo].[tblNganSach] ([Id], [DanhMuc], [SoTien], [ChuKy], [NgayBD], [NgayKT], [MoTa], [NgayTao], [NgaySua], [TaiKhoanId]) VALUES (3, N'Chi phí điện, nước, internet, xăng, ăn uống cho cả gia đình 3 người', CAST(15000000.00 AS Decimal(18, 2)), N'Hàng Tháng', CAST(N'2026-05-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-06-01T00:00:00.0000000' AS DateTime2), N'Hàng tháng phải chi', CAST(N'2026-05-29T14:33:13.6779488' AS DateTime2), CAST(N'2026-05-29T14:56:24.7557787' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[tblNganSach] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTaiKhoan] ON 

INSERT [dbo].[tblTaiKhoan] ([Id], [Email], [PasswordHash], [Ho], [Ten], [SoDienThoai], [NgayTao], [NgaySua], [KichHoat]) VALUES (1, N'170124186@rdi.edu.vn', N'$2a$11$Y6o8cHiT0TGXtItaf7L8C.zAR2FXwshMV9wRNQgsERslkjy7Iw7su', N'Truong', N'Lu Quoc', N'0902224811', CAST(N'2026-05-29T14:20:25.6655936' AS DateTime2), CAST(N'2026-06-06T19:27:59.9328635' AS DateTime2), 1)
INSERT [dbo].[tblTaiKhoan] ([Id], [Email], [PasswordHash], [Ho], [Ten], [SoDienThoai], [NgayTao], [NgaySua], [KichHoat]) VALUES (2, N'170124188@rdi.edu.vn', N'$2a$11$L6rySeeFki1bBIAZZJcLWeI74NMmXWapAztZaKpT/FUheV5Ox9V/S', N'Lê', N'Tuấn Anh', N'0903365663', CAST(N'2026-06-06T14:39:38.7161556' AS DateTime2), CAST(N'2026-06-06T18:06:10.2385304' AS DateTime2), 1)
INSERT [dbo].[tblTaiKhoan] ([Id], [Email], [PasswordHash], [Ho], [Ten], [SoDienThoai], [NgayTao], [NgaySua], [KichHoat]) VALUES (3, N'170124190@rdi.edu.vn', N'$2a$11$krAYpID/rCvAL9BUD.iiUOhi1MUrWX8AeSPJTqTohvjNR2WD.ydBK', N'Hồ', N'Trung Hiếu', N'0906746298', CAST(N'2026-06-06T14:59:37.5378588' AS DateTime2), CAST(N'2026-06-06T15:00:06.4938347' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[tblTaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVi] ON 

INSERT [dbo].[tblVi] ([Id], [Ten], [SoDu], [Loai], [MoTa], [NgayTao], [NgaySua], [KichHoat], [TaiKhoanId]) VALUES (1, N'Vietcombank', CAST(206890000.00 AS Decimal(18, 2)), N'Bank', N'Tài khoản nhận lương, thu nhập cho thuê, các thu nhập khác', CAST(N'2026-05-29T14:24:40.1452155' AS DateTime2), NULL, 1, 1)
INSERT [dbo].[tblVi] ([Id], [Ten], [SoDu], [Loai], [MoTa], [NgayTao], [NgaySua], [KichHoat], [TaiKhoanId]) VALUES (2, N'Lưu động', CAST(49320000.00 AS Decimal(18, 2)), N'Cash', N'Thu nhập ngoài nhận tiền mặt.', CAST(N'2026-05-29T14:57:31.8212183' AS DateTime2), NULL, 1, 1)
INSERT [dbo].[tblVi] ([Id], [Ten], [SoDu], [Loai], [MoTa], [NgayTao], [NgaySua], [KichHoat], [TaiKhoanId]) VALUES (3, N'MoMo', CAST(5500000.00 AS Decimal(18, 2)), N'E-wallet', N'Thu nhập từ các công việc làm thêm', CAST(N'2026-06-05T13:13:56.0851145' AS DateTime2), NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[tblVi] OFF
GO
ALTER TABLE [dbo].[tblGiaoDich]  WITH CHECK ADD  CONSTRAINT [FK_tblGiaoDich_tblTaiKhoan_TaiKhoanId] FOREIGN KEY([TaiKhoanId])
REFERENCES [dbo].[tblTaiKhoan] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblGiaoDich] CHECK CONSTRAINT [FK_tblGiaoDich_tblTaiKhoan_TaiKhoanId]
GO
ALTER TABLE [dbo].[tblGiaoDich]  WITH CHECK ADD  CONSTRAINT [FK_tblGiaoDich_tblVi_ViId] FOREIGN KEY([ViId])
REFERENCES [dbo].[tblVi] ([Id])
GO
ALTER TABLE [dbo].[tblGiaoDich] CHECK CONSTRAINT [FK_tblGiaoDich_tblVi_ViId]
GO
ALTER TABLE [dbo].[tblNganSach]  WITH CHECK ADD  CONSTRAINT [FK_tblNganSach_tblTaiKhoan_TaiKhoanId] FOREIGN KEY([TaiKhoanId])
REFERENCES [dbo].[tblTaiKhoan] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblNganSach] CHECK CONSTRAINT [FK_tblNganSach_tblTaiKhoan_TaiKhoanId]
GO
ALTER TABLE [dbo].[tblVi]  WITH CHECK ADD  CONSTRAINT [FK_tblVi_tblTaiKhoan_TaiKhoanId] FOREIGN KEY([TaiKhoanId])
REFERENCES [dbo].[tblTaiKhoan] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblVi] CHECK CONSTRAINT [FK_tblVi_tblTaiKhoan_TaiKhoanId]
GO
USE [master]
GO
